<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvqiu.myapplication">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name=".view.MainActivity" android:exported="true">

        </activity>
        <activity android:name=".view.AnnotationActivity">
            <!--android:exported="true" 设置是否可以被外部调用-->
            <intent-filter>
                <action android:name="transBundle.app"/>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.CusBroadcast" android:exported="false">
            <!--android:exported="false" 仅仅内部使用和相同userid的应用使用-->
            <intent-filter>
                <action android:name="android.intent.action.CusBroadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>